gunicorn
flask
fastai
python-dotenv
google-cloud-bigquery
ipython
# Assumes Linux deployment. CPU-only to keep footprint low
https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp37-cp37m-linux_x86_64.whl
